body{
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #264653;
}


.color{
    background-color: #E76F51;
}




/* bike style */
.first-bike img{
    filter: grayscale(100%);
    width: 288px;
    height: 243px;
    margin-left: 157px;

}
.second-bike img{
    width: 288px;
    height: 243px;
    margin-left: 157px;
    
}
.paragraph{
    color: #E76F51;
}
h1 span{
    color: #E76F51;
}
.card img{
    width: 40%;
}
.card{
    width: 322px;
    height: 478px;
    padding-bottom: 20px;
}
.card-text{
    padding:30px;
}
.fa-star.filled{
    color:#E77C40;

 
    
}
.bankar{
    color:#23A6F0;
}


/* Accordion style added */

.accordion-item,.accordion-header{
    background-color: transparent;
    border:none;
    padding: 0;
    margin-bottom: 20px;

}
.card{
    box-shadow: 0 2px 20px 0 rgba(110,130,208, .18);
}
.accordion-button{
    width: 100%;
    height: 60px;
    color: #000;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
     
    
}
.accordion-body{
   background: #e8eeff ; 
}
.picture{
    width: 431px;
    height: 423px;
 
    margin-top: 15px;

 
}
